@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

 
  @layer utilities {
    .wrapper {
        @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
      }
    
  }

  